---
layout: archive
permalink: /people
collection: members
entries_layout: grid
classes: wide
author_profile: True
language: en
---

{% assign entries_layout = page.entries_layout %}

{% assign labels = "Professor,Associate Professor,Principal Investigator,Postdoctoral Researcher,PhD Students,Master Students,Bachelor Students" | split: "," %}
{% assign order = -1 %}
{% assign posts = site.members | where: "language", page.language | sort: "order"%}
{% for post in posts%}
  {% if post.order != order %}
    {% if order != -1%}
        </div>
        <a href="#page-title" class="back-to-top">{{ site.data.ui-text[page.language].back_to_top | default: 'Back to Top' }} &uarr;</a>
      </section>
    {% endif %}
    {% assign order = post.order | to_i%}
    <section class="taxonomy__section">
      <h2 id="{{ label | slugify }}" class="archive__subtitle">
        {{ labels[order] }}
      </h2>
      <div class="entries-{{ entries_layout }}">
      
  {% endif %}
  {% include archive-single.html type=entries_layout %}
{% endfor %}
  </div>
</section>

{% assign fullnames = "Assoc. Prof. Phong Khanh Thai;Assoc. Prof. Kok-Seng Wong;Assoc. Prof. Tran Ngoc Quang;Assoc. Prof. Nguyen Lu Phuong;Dr. Nguyen Hoang Ha;Assoc. Prof. Vishal Verma;Prof. Helen Nguyen;Prof. Andrew Taylor Robinson;AProf. Yan Jinhui" | split: ";" %}
{% assign descriptions = "University of Queensland;VinUniversity;Hanoi University of Civil Engineering;HCMC University of Natural Resources and Environment;University of Science and Technology of Hanoi;University of Illinois at Urbana-Champaign;University of Illinois at Urbana-Champaign;VinUniversity;University of Illinois at Urbana-Champaign" | split: ";" %}
{% assign names = "phong,kok,quang,phuong,ha,verma,nguyen,robinson,jinhui" | split: "," %}

<section class="taxonomy__section">
  <h2 class="archive__subtitle"> Partners </h2>
  <div class="entries-{{ entries_layout }}">
    {% for id in (0..8) %}
      {% assign name = names[id] %}
      {% assign fullname = fullnames[id] %}
      {% assign description = descriptions[id] %}
      <div class="grid__item">
        <article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork">
          <div class="archive__image-partner">
            <img src="{{ '/assets/images/team_members/partners/' | append: name | append: '.jpg'}}" alt="{{ name }}">
          </div>
          <h2 class="archive__item-title no_toc" itemprop="headline">{{ fullname }}</h2>
          <p class="archive__item-excerpt" itemprop="description"> {{ description | markdownify | strip_html | truncate: 160}} </p>
        </article>
      </div>
    {% endfor %}
  </div>
  <a href="#page-title" class="back-to-top">{{ site.data.ui-text[page.language].back_to_top | default: 'Back to Top' }} &uarr;</a>
</section>
